@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}


.clip-wedge {
  clip-path: polygon(50% 50%, 100% 0, 100% 100%);
}


/* Optional: Custom scrollbar for better aesthetics */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.marquee-inner {
                    animation: marqueeScroll linear infinite;
                    color: white;
                }

                @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
}

.animate-marquee {
    animation: marquee 30s linear infinite; /* You can adjust the time here */
}

 @keyframes marqueeScroll {
                0% { transform: translateX(0%); }
                100% { transform: translateX(-50%); }
            }

            .marquee-inner {
                animation: marqueeScroll 25s linear infinite;
            }

            .marquee-reverse {
                animation-direction: reverse;
            }               